<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link href="themes/prism.css" rel="stylesheet" />
        <title>{% block title %}PasteTest{% endblock %}</title>

        {% block stylesheets %}
            {{encore_entry_link_tags('app')}}
        {% endblock %}

        {% block javascript %}
            {{encore_entry_script_tags('app')}}
        {% endblock %}


    </head>
    <body>
        {% block body %}

            <h2>Recent Pastes</h2>
            <ul>
            {% if (pastes is not empty) %}
                {% for paste in pastes %}
                    <li>{{ paste.title }} - {{ paste.content }}</li>
                {% endfor %}
            {% endif %}
            </ul>

        {% endblock %}
    </body>
</html>
